/* Water Droplets Animation */
.water-droplets {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.droplet {
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 70%, transparent 100%);
  border-radius: 50%;
  animation: fall linear infinite;
}

.droplet:nth-child(1) {
  left: 10%;
  width: 4px;
  height: 4px;
  animation-duration: 3s;
  animation-delay: 0s;
}

.droplet:nth-child(2) {
  left: 20%;
  width: 6px;
  height: 6px;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

.droplet:nth-child(3) {
  left: 35%;
  width: 3px;
  height: 3px;
  animation-duration: 3.5s;
  animation-delay: 1s;
}

.droplet:nth-child(4) {
  left: 50%;
  width: 5px;
  height: 5px;
  animation-duration: 4.5s;
  animation-delay: 1.5s;
}

.droplet:nth-child(5) {
  left: 65%;
  width: 4px;
  height: 4px;
  animation-duration: 3.2s;
  animation-delay: 2s;
}

.droplet:nth-child(6) {
  left: 80%;
  width: 6px;
  height: 6px;
  animation-duration: 4.2s;
  animation-delay: 2.5s;
}

.droplet:nth-child(7) {
  left: 15%;
  width: 3px;
  height: 3px;
  animation-duration: 3.8s;
  animation-delay: 3s;
}

.droplet:nth-child(8) {
  left: 75%;
  width: 5px;
  height: 5px;
  animation-duration: 4.8s;
  animation-delay: 3.5s;
}

@keyframes fall {
  0% {
    top: -10px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

/* Ripple Effect */
.water-ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.ripple {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: ripple 4s linear infinite;
}

.ripple:nth-child(1) {
  left: 25%;
  top: 30%;
  animation-delay: 0s;
}

.ripple:nth-child(2) {
  left: 70%;
  top: 60%;
  animation-delay: 2s;
}

.ripple:nth-child(3) {
  left: 45%;
  top: 80%;
  animation-delay: 1s;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}